<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://unpkg.com/react-tabs/dist/react-tabs.production.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/react-tabs/style/react-tabs.css">
    <script type="text/javascript">alert("何も表示されない場合は、ブラウザの更新ボタンを押してください");</script>
  </head>
  <body>
    <%= render "shared/header", login_page: false %>
    <main>
      <%= hidden_field_tag "from_user_id", @user_id %>
      <div id="app"></div>
      <p>閉鎖中</p>
    </main>
    <!--script type="text/babel" src="/message_component.js"></script-->
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
      body {
        background: gainsboro;
      }
      main {
        background: white;
        padding: 10px;
      }
      div#sendMessageArea {
        text-align: center;
      }
      textarea {
        width: 75%;
      }
    </style>
  <body>
</html>