<!DOCTYPE html5>
<html>
  <head>
    <meta charset="utf-8">
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <%= hidden_field_tag "from_user_id", @user_id %>
      <div id="app"></div>
    </main>
    <script type="text/babel">

      class App extends React.Component {

          constructor(props) {
            super(props);
            this.state = {"sended_messages": [], "received_messages": []};
            //stateの外に置く
            this.from_user_id = document.getElementsByName("from_user_id")[0].value;
            this.original_messages = {"sended_messages": [], "received_messages": []}
            this.getMessages = this.getMessages.bind(this);
            this.sendMessage = this.sendMessage.bind(this);
            this.narrowDown = this.narrowDown.bind(this);
          }

          //コンポーネントの描画後に実行
          componentDidMount() {
            this.getMessages();
          }

          getMessages() {

            fetch("http://localhost:3000/getMessages?user_id=" + this.from_user_id)
            .then((res) => res.json())
            .then((res) => {
              this.original_messages["sended_messages"] = res["sended_messages"];
              this.original_messages["received_messages"] = res["received_messages"];
              this.setState(this.original_messages);
            })
            .catch((error) => alert(error))
            
          }

          sendMessage() {

            var body = JSON.stringify({
              "from_user_id": this.from_user_id,
              "to_user_id": document.getElementsByName("to_user_id")[0].value,
              "message": document.getElementsByName("message")[0].value,
              "date": "2020-01-11 11:38:11"//new Date()
            });

            document.getElementsByName("message")[0].value = "";
            
            var opt = {
              method: "post",
              headers: {"Content-Type": "application/json"},
              body: body
            };

            fetch("http://localhost:3000/sendMessage", opt)
            .then((res) => res.json())
            .then((res) => this.getMessages())
            .catch((error) => alert(error)) 

          } 

          narrowDown(e) {

            var keyword = e.target.value;
            
            if (keyword == "") {
              return this.setState(this.original_messages);
            }

            var sended_messages = this.original_messages["sended_messages"].filter(function(message) {
              return message["name"].indexOf(keyword) != -1 || message["message"].indexOf(keyword) != -1;
            })

            var received_messages = this.original_messages["received_messages"].filter(function(message) {
              return message["name"].indexOf(keyword) != -1 || message["message"].indexOf(keyword) != -1; 
            })

            this.setState({"sended_messages": sended_messages, "received_messages": received_messages});

          }

          render() {
            return (
              <div>
                <div id="sendMessageArea">
                  <p>メッセージを送信</p>
                  <p><label>送信先ユーザーID</label><input type="text" name="to_user_id" /></p>
                  <textarea name="message" placeholder="メッセージを入力"></textarea>
                  <input type="button" value="送信" onClick={this.sendMessage} />
                </div>
                <div>
                  <div>
                    <p>受信したメッセージ</p>
                    {this.state.received_messages.map(function(received_message) {
                      return (
                        <div>
                          <p>{"送り主 : " + received_message["name"]}</p>
                          <p>{received_message["message"]}</p>
                          <p>{received_message["date"]}</p>
                        </div>
                      );
                    })}
                  </div>
                  <div>
                    <p>送信したメッセージ</p>
                    {this.state.sended_messages.map(function(sended_message) {
                      return (
                        <div>
                          <p>{"宛先 : " + sended_message["name"]}</p>
                          <p>{sended_message["message"]}</p>
                          <p>{sended_message["date"]}</p>
                        </div>
                      );
                    })}
                  </div>
                  <div>
                    <input type="text" placeholder="絞り込みキーワードを入力" onKeyUp={this.narrowDown} />
                  </div>
                </div>
              </div>
            )
          }

      }

      ReactDOM.render(<App />, document.getElementById("app")); 
    
    </script>
    <style>
      * {
        margin: 0%;
        padding: 0%;
      }
      body {
        background: gainsboro;
      }
      header {
        color: white;
        background: teal;
        margin-bottom: 30px;
        font-size: 18px;
        padding: 7px;
      }
      main {
        background: white;
        padding: 10px;
      }
      div#sendMessageArea {
        text-align: center;
      }
      textarea {
        width: 75%;
      }
    </style>
  <body>
</html>