<!DOCTYPE html5>
<html>
  <head>
  </head>
  <body>
    <header>
      <p>勤怠管理システム</p>
    </header>
    <main>
      <table order="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>開始時刻</th>
          <th>終了時刻</th>
          <th>休憩時間</th>
          <th>稼働時間</th>
          <th>チェック</th>
        </tr>
        <td>
        　<th>8/31</th>
          <th>日</th>
          <th>12:00</th>
          <th>17:00</th>
          <th>01:30</th>
          <th>04:00</th>
          <th><input type="checkbox"></th>
        </td>
      </table>
      <%= @id %>
      <div>
        <form action="/report/H184100002" method="post">
          <input name="operation" type="hidden" value="承認">
          <input type="submit" value="承認">
        </form>
        <form action="/report/H184100002" method="post">
          <input name="operation" type="hidden" value="差し戻し">
      　  <input type="submit" value="差し戻し">
        </form>
        <form action="/report/H184100002" method="post">
          <input name="operation" type="hidden" value="キャンセル">
          <input type="submit" value="キャンセル">
        </form>
      </div>
    </main>
  </body>
</html>